{% extends "base.html" %}

  {% block title %}
    EDIT USER
  {% endblock %}

    {% block extra_css %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    {% endblock %}

  {% block content %}

    <div class="login-card">
      <form method="POST" enctype="multipart/form-data">
        <h3>
          Edit User
        </h3>
          <label for="email">
            Email Address
          </label>
            <input
              type="email"
              id="email"
              name="email"
              class="browser-default"
              value="{{ user.email }}"
              autocomplete="on"
            >
          <label for="firstName">
            First Name
          </label>
            <input
              type="text"
              id="firstName"
              name="firstName"
              class="browser-default"
              value="{{ user.first_name }}"
            >
          <label for="lastName">
            Last Name
          </label>
            <input
              type="text"
              id="lastName"
              name="lastName"
              class="browser-default"
              value="{{ user.last_name }}"
            >
          <br>
          <br>
            <button type="submit" class="btn btn-primary">
              Update
            </button>
                <a 
                  href="{{ url_for('views.view_users', user_id=current_user.id) }}" 
                  role="button" 
                  alt="Cancel Button" 
                  class="btn btn-primary right-cancel"
                >
                  Cancel
                </a>
      </form>
    </div>

  {% endblock %}