{% extends "base.html" %}

  {% block title %}
    Ooops!
  {% endblock %}
  
  {% block extra_meta %}<meta name="robots" content="noindex">{% endblock %}

  {% block content %}

    <div class="index_logo">
      <h2 style="position:absolute; left:-9999px;color: #000000;">Kittie Productions' 404 page</h2>
      <div class="w3-container w3-center w3-animate-zoom">
        <p class="error_page ooops">
          Ooops!
        </p>
        <p class="error_page">
          You do not have permission to view that page.
        </p>
        <p class="error_page">
          Please contact the administrator.
        </p>
          {% if current_user.is_authenticated %}
            <a class="error_button" href="{{ url_for('prod.kittie_productions', user_id=current_user.id) }}" aria-label="Kittie's Production Details Pages">
              VIEW PRODUCTIONS
            </a>
          {% else %}
            <a class="error_button" href="{{ url_for('auth.login', user_id=current_user.id) }}" id="login" aria-label="Log-in to Kittie">
              Login
            </a>
          {% endif %}
      </div>
    </div>  

  {% endblock %}