{% extends "base.html" %}

  {% block title %}
    PASSWORD RESET
  {% endblock %}

    {% block extra_css %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    {% endblock %}

  {% block content %}

    <div id="myDIVI" class="login-card">
      <h2 style="position:absolute; left:-9999px;color: #000000;">Reset your Kittie Productions' password</h2>
      <form method="POST" enctype="multipart/form-data">
        <img 
          src="{{ url_for('static', filename='images/kittie_logo_socials.jpg') }}" 
          alt="Kittie Productions Logo" 
          style="max-width:15%;"
        >
          <h3>
            Password Reset
          </h3>
            <p>
              Submit info to receive a password reset link.
            </p>
              <label for="email">
                Email Address
              </label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="browser-default"
                  placeholder="Enter email.." 
                  autocomplete="on"
                >
              <br>
              <br>
                <button type="submit" class="btn btn-primary">
                  Reset
                </button>
                  <a 
                    href="{{ url_for('auth.login', user_id=current_user.id) }}" 
                    role="button" 
                    alt="Cancel Button" 
                    class="btn btn-primary right-cancel"
                  >
                    Cancel
                  </a>
      </form>
    </div>

  {% endblock %}