{% extends "base.html" %}

  {% block title %}
    KITTIE'S PRODUCTIONS
  {% endblock %}

  {% block content %}

    <br>
      {% for kittie_production in kittie_productions | sort(attribute="title") %}
        {% if current_user.auth_level <= 2 %}
          <div id="myDIVC" class="grid-container">
            <div class="grid-item">
              <div class="cover">
                <a href="{{ url_for('views.kittie_production_details', url=kittie_production.url) }}">
                  <img 
                    src="{{ kittie_production.cover_file_path }}" 
                    alt="{{ kittie_production.title }}" 
                    style="width: 100%"
                  >
                  </a>
              </div>
            </div>
          </div>
        {% else %}
        {% for permission in permissions %}
          {% if permission.user_id == user.id and permission.kittie_production_database_id == kittie_production.id and permission.can_view %}
            <div id="myDIVC" class="grid-container">
              <div class="grid-item">
                <div class="cover">
                  <a href="{{ url_for('views.kittie_production_details', url=kittie_production.url) }}">
                    <img 
                      src="{{ kittie_production.cover_file_path }}" 
                      alt="{{ kittie_production.title }}" 
                      style="width: 100%"
                  >
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

 {% endblock %}