{% extends "base.html" %}

  {% block title %}
    UPDATE PASSWORD
  {% endblock %}

    {% block extra_css %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    {% endblock %}

  {% block content %}

    <div id="myDIVI" class="login-card">
      <h2 style="position:absolute; left:-9999px;color: #000000;">Update your Kittie Productions' password</h2>
      <form method="POST" enctype="multipart/form-data">
        <img 
          src="{{ url_for('static', filename='images/kittie_logo_socials.jpg') }}" 
          alt="Kittie Productions Logo" 
          style="max-width:15%;"
        >
          <h3>
            Update Password
          </h3>
            <label for="password">
              Password
            </label>
              <input
                type="password"
                id="password"
                name="password"
                class="browser-default"
                placeholder="Enter password..">
                <label for="confirm_password">Confirm Password</label>
                <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                class="browser-default"
                placeholder="Confirm password.."
              >
                <br>
                <br>
                  <button type="submit" class="btn btn-primary">
                    Update
                  </button>
      </form>
    </div>

    {% endblock %}